.block-type--call_to_action_style_1 {
  position: relative;

  .field--name-field-background-image {
    img {
      vertical-align: top;
    }
  }

  > .inner-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
}
