.block-type--hero {
  position: relative;

  .field--name-field-background-image {
    img {
      vertical-align: top;
    }
  }

  > .inner-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: calc(100% - 100px);
    background: #ff0000ba;
    padding: 20px;
    margin: 50px;
  }
}
