.about-business-day {
  display: flex;

  .content {
    background: $color-yellow-1;
    padding: 50px;

    > h2 {
      font-size: 36px;
      color: $color-grey-1;
    }

    > p {
      font-size: 18px;
      color: $color-grey-1;
    }
  }

}
