.footer-first {
  background: $color-grey-2;
  padding: 50px 0;

  ul {
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 20px;

      a {
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
      }
    }
  }
}
