.hero {
  background: $color-blue-1;
  text-align: center;
  padding: 300px 20px 150px;
  position: relative;
  margin-bottom: 40px;

  h1 {
    font-family: $font-secondary;
    font-size: 48px;
    line-height: 64px;
    text-decoration-line: underline;
    font-weight: normal;
    color: $color-grey-1;
  }

  h2 {

  }

  h3 {

  }

  .overflow-footer {
    background: $color-yellow-1;
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: -40px;
    padding: 30px 40px 40px;
    font-size: 24px;
    color: $color-brown-1;
  }
}
