.sponsors {
  background: $color-white-1;
  padding: 70px 0;

  h2 {
    font-size: 36px;
    color: $color-grey-1;
    text-align: center;
  }

  .content {

    @media (min-width: 0) and (max-width: $desk) {
      @include flex-grid(2, 40px);
    }

    @media (min-width: $desk) {
      @include flex-grid(7, 40px);
    }

    a {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
