#floating-button {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9;
  width: 100%;

  .button {
    text-align: center;
    padding-right: 30px;
    display: block;
  }
}

.buy-tickets {
  padding: 2em 2em;
  border-radius: 10px;
  @include linear-gradient();

  .button {
    float: right;
    background: white;
    color: $main-color;
    position: relative;
    z-index: 2;
    &:hover {
      background: $secondary-color;
      color: white;
    }
  }
  .content {
    padding-left: 100px;
    position: relative;
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      content: '\E818';
      font-family: icons;
      color: white;
      font-size: 4em;
    }
    h3 {
      line-height: 1;
      font-size: 2.2em;
      color: white;
    }
    .deadline {
      color: $fourth-color;
      font-family: $header-font;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.2em;
    }
  }
  @include breakpoint(mobile) {
    padding: 1em;
    .button {
      float: none;
      display: block;
      margin-bottom: 20px;
    }
    .content {
      padding-left: 30px;
      &:before {
        font-size: 20px;
      }
      h3 {
        font-size: 20px;
      }
      .deadline {
        font-size: 16px;
      }
    }
  }
}
