#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background-color: darken($secondary-color, 10) !important;
}

.main-menu {
  &__trigger {
    position: relative;
    z-index: 1000;
    height: $header-height;
    width: $header-height;
    background: $main-color;
    color: white;
    display: block;
    cursor: pointer;

    @include breakpoint(mobile) {
      height: $header-height-mobile;
      width: $header-height-mobile + 10px;
    }

    .main-menu-enabled & {
      background-color: $secondary-color;
    }
  }

  &__icon-wrap {
    position: absolute;
    left: 0;
    top: 0;
    height: $header-height;
    width: $header-height;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    transition: transform 0.5s;

    @include breakpoint(mobile) {
      left: 5px;
      height: 30px;
      width: 30px;
    }

    .main-menu-enabled & {
      transform: rotate(-180deg);
    }
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    width: 22px;
    height: 2px;
    background-color: #fff;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: inherit;
      transform: translateZ(0);
      backface-visibility: hidden;
      transition: transform 0.5s, width 0.5s, top 0.3s;

      .main-menu-enabled & {
        width: 50%;
        right: 10px;
        transition: transform 0.5s, width 0.5s;
      }
    }
    &::before {
      transform-origin: left top;
      transform: translateY(-6px);

      .main-menu-enabled & {
        transform: rotate(45deg);
      }
    }
    &::after {
      transform-origin: left bottom;
      transform: translateY(6px);

      .main-menu-enabled & {
        transform: rotate(-45deg);
      }
    }
  }
}

.region-footer .main-menu__trigger {
  display: none;
}

.region-header {
  body {
    position: relative;
    margin-left: 0;
    width: 100%;
    @include transition(margin .3s ease);
    &.main-menu-enabled {
      //margin-left: -100%;
      overflow: hidden;
    }
  }

  .main-menu-wrapper {
    @include linear-gradient();
    @include transition(all .3s ease);
    margin-left: 100%;
    position: fixed;
    overflow: auto;
    height: 100%;
    width: 100%;
    color: white;
    left: 0;
    top: 0;
    z-index: 999;
    .toolbar-vertical & {
      margin-top: 39px;
    }
    .main-menu-header {
      background: url(../images/menu-lines.png?refresh=2017-04-14) repeat-x;
      height: $header-height;
      @include clearfix;

      .toolbar-tray-open.toolbar-fixed.toolbar-horizontal & {
        position: relative;
        margin-top: 80px;
      }
      .toolbar-fixed.toolbar-horizontal {
        position: relative;
        margin-top: 40px;
      }

      @include breakpoint(mobile) {
        height: $header-height-mobile;
      }
    }
    .main-menu-enabled & {
      display: block;
      margin-left: 0;
    }
    .main-menu-inner {
      max-width: $menu-width;
      margin: 70px auto;
      padding: 20px;
      .event-info {
        @include breakpoint(mobile) {
          display: none;
        }
        float: right;
        color: $secondary-color;
        font-family: $header-font;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1.6em;
        a.how-to-get-there {
          color: white;
          display: block;
          clear: both;
          text-decoration: none;
          &:before {
            font-family: 'icons';
            content: '\E803';
            margin-right: 5px;
            font-weight: normal;
            font-size: 14px;
            vertical-align: top;
          }
        }
        a.buy-tickets {
          @include button(white, $secondary-color, $main-color, 10px 30px);
          display: inline-block;
          clear: both;
          margin-top: 30px;
          font-size: 18px;
        }
      }
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          padding: 0;
          margin: 0;
          list-style: none;
          a {
            margin-bottom: 30px;
            display: block;
            &:hover {
              text-decoration: underline;
            }
            &:before {
              font-family: 'icons';
              margin-right: 10px;
              font-weight: normal;
              font-size: 16px;
              vertical-align: middle;
              margin-bottom: 5px;
              display: inline-block;
            }
            &.agenda:before {
              content: '\E813';
            }

            &.business-day:before {
              content: '\E815';
            }

            &.survival-guide:before {
              content: '\E803';
            }

            &.speakers:before {
              content: '\E817';
            }

            &.sponsors:before {
              content: '\E812';
            }

            &.attendees:before {
              content: '\E814';
            }

            &.news:before {
              content: '\E816';
            }

            &.sprints:before {
              content: '\E802';
            }

            margin-bottom: 30px;
            text-transform: uppercase;
            font-size: 24px;
            font-family: $header-font;
            color: white;
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
    }
  }
}

footer{
  #block-mainnavigation{
    .event-info{
      display:none;
    }
  }
}


