.session {
  max-width: $max-width;
  margin: 2em auto;
  padding: $gutter-width;
  @include clearfix;

  &__title {
    position: relative;
    line-height: 1em;
    font-size: 2.5rem;

    @include breakpoint(big) {
      max-width: 80%;
      font-size: 3rem;
    }

    &:after {
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 40px;
      height: 4px;
      background-color: $secondary-color;
      content: ' ';
    }

    &--list {
      font-size: 32px;
      line-height: 1.9rem;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  &__author {
    font-size: 20px;
    color: $main-color;
    font-family: $header-font;
    font-weight: 700;
    text-transform: uppercase;

  }

  &__label {
    font-family: $header-font;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__meta {
    margin-top: 4rem;

    @include breakpoint(big) {
      margin-top: 0.5rem;
    }
  }

  &__type,
  &__level,
  &__language {
    display: block;
  }

  &__description {
    display: block;
    margin-top:30px;
  }

  &--full {
    // To remove when sessions have images.
    @include breakpoint(big) {
      margin-top: 4rem;
      @include clearfix;
    }
  }
}

.author {
  &__photo-mask {
    float: left;
    width: 45%;
    height: 105px;
    position: relative;
    overflow: hidden;
  }

  &__photo {
    position: absolute;
    width: 100%;
    top: 0;
  }

  &__name {
    clear: both;
    float: left;
    font-size: 1.8rem;
    color: $main-color;
    font-family: $header-font;
    font-weight: 700;
    text-transform: uppercase;

    @include breakpoint(big) {
      font-size: 2rem;
    }
  }

  &__meta,
  &__bio {
    clear: both;
    float: left;
    display: block;
  }

  &__meta {
    margin-top: 1rem;
  }

  &__bio {
    margin-top: 4rem;

    &-label {
      font-family: $header-font;
      font-weight: 700;
      text-transform: uppercase;
      color: $secondary-color;
    }

    &-text {
      margin-top: 1rem;
    }
  }

  &__drupal,
  &__twitter {
    display: inline-block;
    overflow: hidden;
    margin-right: 0.75rem;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-indent: -1000px;
    transition: all .2s ease-in-out;
    background: url("../images/twitter-white.svg") no-repeat center center $main-color;
    background: url("../images/twitter-white.svg") no-repeat center center, linear-gradient(45deg, $main-color 42%, $tertiary-color 62%);

    &:hover {
      transition: all .2s ease-in-out;
      transform: scale(1.1);
    }
  }

  &__drupal {
    background: url("../images/drop-white.svg") no-repeat center center $main-color;
    background: url("../images/drop-white.svg") no-repeat center center, linear-gradient(45deg, $main-color 42%, $tertiary-color 62%);
  }
}
