// Fonts.-
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

$color-blue-1: #A5E6EC;

$color-grey-1: #323B3E;
$color-grey-2: #222627;
$color-grey-3: #1B1C1D;

$color-brown-1: #4B420C;
$color-brown-2: #3E3C32;

$color-yellow-1: #FAE673;
$color-white-1: #F3F3EE;

$font-primary: 'Source Sans Pro';
$font-secondary: 'layfair Display';
