$main-color: #be3272;
$secondary-color: #452ae2;
$tertiary-color:#C44635;
$fourth-color: #EAD872;

$form-input-color:#EEE;

$desktop : 1024px;
$wide: 1400px;
$tablet: 720px;

$gutter-width:20px;

$menu-width: 800px;
$header-font: "futura-pt-condensed",sans-serif;
$body-font: "futura-pt",sans-serif;

$header-height:41px;
$header-height-mobile:30px;