$main-color: #be3272;
$secondary-color: #452ae2;
$tertiary-color:#C44635;

$desktop : 1024px;
$wide: 1400px;
$tablet: 720px;

$header-font: "futura-pt-condensed",sans-serif;
$body-font: "futura-pt",sans-serif;

$header-height:41px;