.page-node-type-page {
  #block-dcamp-2017-theme-page-title {

    max-width: $max-width;
    margin: 2em auto;
    text-align: right;

    h1 {
      width: 60%;
      margin-right: 0;
      margin-left:$gutter-width;
      padding: $gutter-width;
    }
  }

}

article.node--type-page {
  max-width: $max-width;
  margin: 3em auto;
}
