/**
 * Fontello Icons.
 *
 * To add icons: upload config.json to fontello, add your icons and download
 * the files, and replace the {{theme}}/icons folder.
 */
@font-face {
  font-family: 'icons';
  src: url('../icons/font/dcamp-icons.eot?11985607');
  src: url('../icons/font/dcamp-icons.eot?11985607#iefix') format('embedded-opentype'),
  url('../icons/font/dcamp-icons.woff?11985607') format('woff'),
  url('../icons/font/dcamp-icons.ttf?11985607') format('truetype'),
  url('../icons/font/dcamp-icons.svg?11985607#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

$header_font: "futura-pt-condensed",sans-serif;
$main_font: "futura-pt",sans-serif;

body {
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #22283f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h2 {
  font-family: "futura-pt-condensed",sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 500%;
  margin-bottom: 24px;
  text-align: left;
}