@import "../../dcamp_2017_theme/scss/utils/**/*";

@mixin button-gradient($background-color: $secondary-color, $background-hover-color: $main-color, $text-color: white, $padding: 30px 50px 30px 40px) {
  background:$main-color !important;
  color:white !important;
  border-radius: 2px;
  &:hover {
    background:$tertiary-color !important;
  }
}

@mixin linear-gradient($direction: 40deg, $color1: lighten($main-color,10), $color2: lighten($main-color,20)) {
  background: $color1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($direction, $color1, $color2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($direction, $color1, $color2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($direction, $color1, $color2); /* For Firefox 3.6 to 15 */
  background: linear-gradient($direction, $color1, $color2); /* Standard syntax */
}

@mixin linear-gradient-text($direction, $color1: lighten($main-color,10), $color2: lighten($main-color,20)) {
  background-image: -webkit-linear-gradient(left, $color1, lighten($color2,10)); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(left, $color1, $color2); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(left, $color1, $color2); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(left, $color1, $color2); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, $color1, $color2); /* Standard syntax; must be last */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

$main-color: #2D4084;
$secondary-color: #2D4084;
$tertiary-color: #87C0A8;


$header-height:80px;
$header-height-mobile:30px;


@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

$body-font:"Raleway", helvetica, sans-serif;
$header-font: $body-font;


@import "../../dcamp_2017_theme/scss/base/**/*";
@import "../../dcamp_2017_theme/scss/components/**/*";
@import "../../dcamp_2017_theme/scss/layout/**/*";


body{
div{
  font-weight:300 !important;

}
}
.region-header .main-menu-wrapper .main-menu-inner .event-info,
.region-header .main-menu-wrapper .main-menu-inner ul li a,
h1,h2,h3,h4{
  font-weight:300 !important;
}


.main-menu__trigger{
border-left: 1px solid lighten($secondary-color, 10);
}

.block-language-blocklanguage-url .language-switcher-wrapper .current-language, .block-language-blocklanguage-interface .language-switcher-wrapper .current-language {
  padding: 32px 25px;
}

.region-header .main-menu-wrapper{
  background: $main-color;
  .main-menu-inner .event-info {
color:white;
    margin-bottom:10px;
  }
}

.frontpage-wrapper {
  #intro .top-area .inner .arrow {
    width: 100px;
  }
  .top-area{
    background:url(../images/photos/alicante.jpg) 50% 50%;
    background-sizing: cover;
  }
}

.frontpage-wrapper #intro .top-area .inner h1 {
  background-image:none;
  color:white;
  font-weight:900 !important;
}

footer .block-dcamp-newsletter-block h2{
  color:white;
}