.frontpage-wrapper {
  #intro {
    .top-area {
      .inner {
        .quick-info {
          background: rgba(38, 61, 69, 0.9);
          padding: 20px;
          color: white;
          text-align: left;
          margin: 10px;
          display: inline-block;
          float: left;

          @media (min-width: 980px) {
            margin: 50px 0 50px 70px;
          }


          h2 {
            color: #fff;
          }

          h3 {
            color: #fff;
            font-weight: bold !important;
            margin-top: 20px;
            text-decoration: underline;
          }

          a {
            color: #fff;
            font-weight: bold;
          }

          p {
            margin: 5px 0;
          }

          strong {
            font-weight: bold !important;
          }
        }
      }
    }
  }

}