#block-newsletterblock {
  text-align: center;
  padding: 4em 0;
  @include linear-gradient();
  h2 {
    color: $secondary-color;
    font-size: 2.4em;
    margin-bottom: 0;
  }
  .description {
    color: white;
    margin: 1em 0 2em 0;
    font-size: 1.2em;
    font-weight: 600;
  }

  .note{
    max-width:500px;
    text-align:left;
    color:white;
    margin:0 auto;
    font-weight:bold;
    opacity: .5;
margin-top:4px;
  }

  form {
    max-width:500px;
    margin:0 auto;
    input[type="email"] {
      border: medium none;
      font-size: 80%;
      height: 50px;
      line-height: 50px;
      padding: 0 0 0 20px;
      color: #000;
      border-radius: 0;
      width:100%;

    }
    label{
      display:none;
    }
    .form-type-email{
      width:80%;
      margin:0;
      float:left;
    }
    @include form-placeholder();

    input[type="submit"] {
      @include button;
      margin: 0;
      width:20%;
      background: darken($main-color, 10) none repeat scroll 0 0;
      border: medium none;
      height: 50px;
      letter-spacing: 0;
      line-height: 50px;
      padding: 0;
      cursor: pointer;
      &:hover {
        background-color: $secondary-color;
      }

      @include breakpoint(mobile) {
        padding: 0;
      }
    }
  }
}
#block-dcamp-2017-theme-footer,
#block-mainnavigation{
  background:$secondary-color;
  text-align:center;
  padding:2em 0;
  ul.menu,
  ul{
    margin:0;
    padding:0;
    text-align:center;
    li{
      margin:10px;
      display:inline-block;
      a{
        color:white;
        text-transform:uppercase;
        text-decoration:none;
        font-weight:bold;
        font-size:.9em;
      }
    }
  }
}
#block-dcamp-2017-theme-footer{
  background:darken($secondary-color,10);
}