.layout-container > header {
  @include transition(top .2s ease-in-out);
  &.nav-up{
    top:-60px !important;
  }
  @include clearfix;
  position: fixed;
  top: 0;
  left: 0;
  background: $secondary-color;
  width: 100%;
  z-index: 99;
  .toolbar-vertical & {
    margin-top: 39px;
  }
  .toolbar-horizontal & {
    top: 40px;
  }
  .toolbar-horizontal.toolbar-tray-open & {
    top: 80px;
  }
  a.logo {
    height: $header-height;
    @include breakpoint(mobile) {
      height: $header-height-mobile;
    }
    float: left;
    img.logo {
      height: 100%;
      width: auto;
    }
  }
  .language-switcher-language-url {
    float: right;
    .language-switcher-wrapper {
      height: $header-height;
      @include breakpoint(mobile) {
        height: $header-height-mobile;
      }
    }
  }
  .navigation.menu--main {
    float: right;
  }
  #block-userlogin {
    position: relative;
    float: right;
    &:hover {
      form {
        display: block;
      }
    }
    form {
      display: none;
    }
  }
}
