/**
 * Fontello Icons.
 *
 * To add icons: upload config.json to fontello, add your icons and download
 * the files, and replace the {{theme}}/icons folder.
 */
@font-face {
  font-family: 'icons';
  src: url('../icons/font/dcamp-icons.eot?11985607');
  src: url('../icons/font/dcamp-icons.eot?11985607#iefix') format('embedded-opentype'),
  url('../icons/font/dcamp-icons.woff?11985607') format('woff'),
  url('../icons/font/dcamp-icons.ttf?11985607') format('truetype'),
  url('../icons/font/dcamp-icons.svg?11985607#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  body {
    font-family: $body-font;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    p {
      line-height: 1.6;
      margin: 2em 0;
    }
    h1, h2, h3 {
      font-weight: bold;
      text-transform: uppercase;
      font-family: $header-font;
      font-size:3em;
    }

  }
}