<div class="schedule-wrapper">
  <div class="node__header">
    <h1>{{ title }}</h1>
  </div>

<!-- Friday Schedule -->
<table align="center" border="1" cellpadding="1" cellspacing="1" summary="Friday">
    <caption>{% trans %}Friday{% endtrans %}</caption>
    <thead>
        <tr>
            <th scope="row">&nbsp;</th>
            <th scope="col">Auditorio (170)</th>
            <th scope="col">Cine (75)</th>
            <th scope="col">Polivalente (45)</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">08:30</th>
        <td colspan="3">{% trans %}Registration - Badge Pick-Up{% endtrans %}</td>
    </tr>
    <tr>
        <th scope="row">09:30</th>
        <td>{% trans %}Opening session{% endtrans %}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th scope="row">10:00</th>
        <td class="eng featured"><a href="/sessions/putting-yourself-out-there-and-avoiding-what-ifs-mikeherchel" target="_blank">Putting Yourself Out There and Avoiding the “What Ifs” by Mike Herchel</a></td>
        <td><a href="/sessions/entidades-en-drupal-8-luisortizramos" target="_blank">Entidades en Drupal 8 by Luis Ortiz Ramos</a></td>
        <td><a href="/business-day" target="_blank">Business Day</a></td>
    </tr>
    <tr>
        <th scope="row">11:00</th>
        <td class="eng"><a href="/sessions/drupal-8s-multilingual-apis-building-entire-world-penyaskito" target="_blank">Drupal 8's Multilingual APIs: Building for the Entire World by Christian López Espínola</a></td>
        <td><a href="/sessions/commerce-en-drupal-8-facine" target="_blank">Commerce en Drupal 8 by Manuel Egío</a></td>
        <td><a href="/business-day" target="_blank">Business Day</a></td>
    </tr>
    <tr>
        <th scope="row">12:00</th>
        <td><a href="/sessions/migrando-datos-drupal-8-jonhattan" target="_blank">Migrando datos a Drupal 8 by Jonathan Araña Cruz</a></td>
        <td class="eng"><a href="/sessions/explotando-composer-en-drupal-8-con-drupal-project-salvabg" target="_blank">Explotando Composer en Drupal 8 con Drupal-project by Salvador Molina Moreno</a></td>
        <td><a href="/business-day" target="_blank">Business Day</a></td>
    </tr>
        <tr>
            <th scope="row">13:00</th>
            <td colspan="3">{% trans %}Group photo{% endtrans %}</td>
        </tr>
    <tr>
        <th scope="row">&nbsp;</th>
        <td colspan="3">{% trans %}Break{% endtrans %}</td>
    </tr>
    <tr>
        <th rowspan="3" scope="row">15:00</th>
        <td class="eng"><a href="/sessions/caching-post-data-varnish-rodricels" target="_blank">Caching POST data with Varnish by Rodrigo Alfaro</a></td>
        <td><a href="/sessions/creacion-de-extensiones-de-twig-para-personalizar-la-presentacion-de-campos-vlledo" target="_blank">Creación de extensiones de Twig para personalizar la presentación de campos by Víctor Rodríguez Lledó</a></td>
        <td><a href="/sessions/abstraer-requisitos-de-cliente-en-modulos-para-contribuir" target="_blank">Abstraer requisitos de cliente en módulos para contribuir by Cristian Aliaga</a></td>
    </tr>
    <tr>
        <td class="eng"><a href="/sessions/using-traefikio-your-local-docker-environments-jsbalsera">Using Traefik.io with your local Docker environments by Jesús Sánchez Balsera</a></td>
        <td><a href="/sessions/css-grid-layout-aless86" target="_blank">CSS Grid Layout by Alejandro Soto</a></td>
        <td><a href="/sessions/google-amp-y-drupal-8-antoniogarrod" target="_blank">Google AMP y Drupal 8 by Antonio García Rodríguez</a></td>
    </tr>
    <tr>
        <td class="eng"><a href="/sessions/synchronize-your-drupal-data-carto-plopesc" target="_blank">Synchronize your Drupal data with Carto by Pablo López Escobés</a></td>
        <td><a href="/sessions/lets-encrypt-o-como-tener-tu-pagina-https-tras-5-instrucciones-en-la-linea-de-comandos" target="_blank">Let’s Encrypt o como tener tu página HTTPS tras 5 instrucciones en la línea de comandos by Luis Ortiz Ramos</a></td>
        <td><a href="/sessions/why-drupal-davidbaltha" target="_blank">Why Drupal by David Hernández Ruiz</a></td>
    </tr>
    <tr>
        <th scope="row">16:00</th>
        <td class="featured"><a href="/sessions/seleccionando-un-cms-para-la-transformacion-por-que-drupal-javierespadas" target="_blank">Seleccionando un CMS para la transformación: ¿Por qué Drupal? by Javier Espadas Bardón</a></td>
        <td class="eng"><a href="/sessions/test-driven-development-drupal-8-nuezweb" target="_blank">Test Driven Development in Drupal 8 by Teun Van Veggel</a></td>
        <td><a href="/sessions/tu-drupal-esta-listo-lo-sabe-google-beagonpoz" target="_blank">Tu Drupal está listo… ¿Lo sabe Google? by Beatriz González Pozo</a></td>
    </tr>
    <tr>
        <th scope="row">17:00</th>
        <td class="eng"><a href="/sessions/drupal-8-cache-developers-jjcarrion" target="_blank">Drupal 8 cache for developers by Jose Jiménez Carrión</a></td>
        <td><a href="/sessions/casos-de-exito-de-drupal-en-espana" target="_blank">Casos de éxito de Drupal en España by David Gil, Isaura Galafate y Beatriz González, Ramon Vilar Gavaldà, y Siddharta Navarro</a></td>
        <td><a href="/sessions/todo-lo-que-hay-que-saber-para-enfrentarte-al-marketing-automation-cocinaitaliana" target="_blank">Todo lo que hay que saber para enfrentarte al Marketing Automation by Claudia Giommarini</a></td>
    </tr>
    <tr>
        <th scope="row">18:00</th>
        <td colspan="3">{% trans %}Spanish Drupal Association assembly{% endtrans %}</td>
    </tr>
    </tbody>
</table>

<!-- Saturday Schedule -->
<table align="center" border="1" cellpadding="1" cellspacing="1" summary="Saturday">
    <caption>{% trans %}Saturday{% endtrans %}</caption>
    <thead>
        <tr>
            <th scope="row">&nbsp;</th>
            <th scope="col">Auditorio (170)</th>
            <th scope="col">Cine (75)</th>
            <th scope="col">Polivalente (45)</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">09:00</th>
        <td><a href="/sessions/buenas-practicas-front-end-maquetacion-por-componentes" target="_blank">Buenas prácticas front-end: Maquetación por componentes by Cristian Aliaga</a></td>
        <td><a href="/sessions/drupal-instantaneo-con-service-workers-asilgag" target="_blank">Drupal instantáneo con Service Workers by Alberto Silva</a></td>
        <td>{% trans %}Sponsored session{% endtrans %}</td>
    </tr>
    <tr>
        <th scope="row">10:00</th>
        <td class="eng featured"><a href="/sessions/adventures-apis-justafish" target="_blank">Adventures in APIs by Sally Young</a></td>
        <td>{% trans %}Sponsored session{% endtrans %}</td>
        <td><a href="/sessions/grandes-proyectos-desde-la-perspectiva-de-una-pequena-empresa-ii-como-retenerlos-rvilar" target="_blank">Grandes proyectos desde la perspectiva de una pequeña empresa II: cómo retenerlos by Ramon Vilar Gavaldà</a></td>
    </tr>
    <tr>
        <th scope="row">11:00</th>
        <td colspan="3">{% trans %}Break{% endtrans %}</td>
    </tr>
    <tr>
        <th scope="row">12:00</th>
        <td class="eng featured"><a href="/sessions/responsive-images-under-control-chumillas" target="_blank">Responsive Images under control by Cristina Chumillas</a></td>
        <td><a href="/sessions/search-api-solr-en-drupal-8-bases-practicas-para-encontrar-lo-buscado-tuwebo" target="_blank">Search Api Solr en Drupal 8, bases prácticas para encontrar lo buscado by Agustín Gómez Iglesias</a></td>
        <td><a href="/sessions/el-poder-de-webform-antes-yamform-regiguren" target="_blank">El poder de Webform (antes YamForm) by Ruben Egiguren y/o David Gil</a></td>
    </tr>
    <tr>
        <th scope="row">13:00</th>
        <td class="eng"><a href="/sessions/headless-drupal-gizra-way-davidbaltha" target="_blank">Headless Drupal: The Gizra Way by David Hernández Ruiz<a/></td>
        <td>{% trans %}Sponsored session{% endtrans %}</td>
        <td><a href="/sessions/iniciacion-al-profiling-con-webprofiler-kikoalonsob" target="_blank">Iniciación al profiling con Webprofiler by Francisco Alonso</a></td>
    </tr>
    <tr>
        <th scope="row">14:00</th>
        <td colspan="3">{% trans %}Break{% endtrans %}</td>
    </tr>
    <tr>
        <th rowspan="3" scope="row">15:00</th>
        <td rowspan="3">{% trans %}Sponsored session{% endtrans %}</td>
        <td><a href="/sessions/el-grupo-de-trabajo-de-documentacion-en-espanol-te-necesita-skuark" target="_blank">El grupo de trabajo de documentación en Español te necesita by Jesús Manuel García Muñoz</a></td>
        <td rowspan="3" class="eng"><a href="/sessions/bdd-desarrollo-guiado-por-comportamiento-jltutor" target="_blank">BDD: Desarrollo guiado por comportamiento by Jorge Tutor</a></td>
    </tr>
    <tr>
        <td><a href="/sessions/pierdele-el-miedo-drupal-console-kikoalonsob" target="_blank">Piérdele el miedo a Drupal Console by Francisco Alonso</a></td>
    </tr>
    <tr>
        <td><a href="/sessions/pruebas-de-carga-web-con-gatling-jonhattan" target="_blank">Pruebas de carga web con Gatling by Jonathan Araña Cruz</a></td>
    </tr>
    <tr>
        <th scope="row">16:00</th>
        <td class=" eng"><a href="/sessions/scrum-master-story-hackathons-scrum-agile-and-chicken-nancyvb" target="_blank">A Scrum Master story; Hackathons, Scrum, Agile and chicken by Nancy Beers</a></td>
        <td><a href="/sessions/introduccion-al-modulo-ui-patterns-usando-atomic-ui-components-en-drupal8-nicolasbottini" target="_blank">Introducción al módulo UI Patterns: Usando atomic UI Components en Drupal8 by Nicolás Bottini Turín</a></td>
        <td><a href="/sessions/contribuir-drupal-por-donde-comenzar-de-0-100-regiguren" target="_blank">Contribuir a Drupal, por donde comenzar de 0 a 100 by Ruben Egiguren</a></td>
    </tr>
    <tr>
        <th scope="row">17:00</th>
        <td class="eng"><a href="/sessions/debugging-profiling-rocking-out-browser-based-developer-tools-mikeherchel" target="_blank">Debugging, Profiling, &amp; Rocking Out with Browser-Based Developer Tools! by Mike Herchel</a></td>
        <td><a href="/sessions/improve-your-testing-experience-migrate-default-content-module-marinero" target="_blank">Improve your testing experience with the Migrate Default Content module by Rodrigo Aguilera</a></td>
        <td><a href="/sessions/extreme-page-composition-paragraphs-sidddi" target="_blank">Extreme page composition with paragraphs by Siddharta Navarro Castellar</a></td>
    </tr>
    <tr>
        <th scope="row">18:00</th>
        <td colspan="3">{% trans %}Closing session{% endtrans %}</td>
    </tr>
    </tbody>
</table>
</div>