<h1>{{ title }}</h1>

<table align="center" border="1" cellpadding="1" cellspacing="1" summary="Viernes">
    <caption>Friday</caption>
    <thead>
        <tr>
            <th scope="row">&nbsp;</th>
            <th scope="col">Auditorio (170)</th>
            <th scope="col">Cine (75)</th>
            <th scope="col">Polivalente (45)</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">08:30</th>
        <td colspan="3">Registration - Badge Pick-Up</td>
    </tr>
    <tr>
        <th scope="row">09:30</th>
        <td>Opening session</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th scope="row">10:00</th>
        <td class="eng featured"><a href="https://2017.drupalcamp.es/sessions/putting-yourself-out-there-and-avoiding-what-ifs-mikeherchel" target="_blank">Putting Yourself Out There and Avoiding the “What Ifs” by Mike Herchel</a></td>
        <td><a href="https://2017.drupalcamp.es/sessions/entidades-en-drupal-8-luisortizramos" target="_blank">Entidades en Drupal 8 by Luis Ortiz Ramos</a></td>
        <td>Business day</td>
    </tr>
    <tr>
        <th scope="row">11:00</th>
        <td class="eng"><a href="https://2017.drupalcamp.es/sessions/drupal-8s-multilingual-apis-building-entire-world-penyaskito" target="_blank">Drupal 8's Multilingual APIs: Building for the Entire World by Christian López Espínola</a></td>
        <td><a href="https://2017.drupalcamp.es/sessions/commerce-en-drupal-8-facine" target="_blank">Commerce en Drupal 8 by Manuel Egío</a></td>
        <td>Business day</td>
    </tr>
    <tr>
        <th scope="row">12:00</th>
        <td><a href="https://2017.drupalcamp.es/sessions/migrando-datos-drupal-8-jonhattan" target="_blank">Migrando datos a Drupal 8 by Jonathan Araña Cruz</a></td>
        <td class="eng"><a href="https://2017.drupalcamp.es/sessions/explotando-composer-en-drupal-8-con-drupal-project-salvabg" target="_blank">Explotando Composer en Drupal 8 con Drupal-project by Salvador Molina Moreno</a></td>
        <td>Business day</td>
    </tr>
        <tr>
            <th scope="row">13:00</th>
            <td colspan="3">Group photo</td>
        </tr>
    <tr>
        <th scope="row">&nbsp;</th>
        <td colspan="3">Break</td>
    </tr>
    <tr>
        <th scope="row">15:00</th>
        <td class="eng"><a href="https://2017.drupalcamp.es/sessions/caching-post-data-varnish-rodricels" target="_blank">Caching POST data with Varnish by Rodrigo Alfaro</a></td>
        <td><a href="https://2017.drupalcamp.es/sessions/creacion-de-extensiones-de-twig-para-personalizar-la-presentacion-de-campos-vlledo" target="_blank">Creación de extensiones de Twig para personalizar la presentación de campos by Víctor Rodríguez Lledó</a></td>
        <td><a href="https://2017.drupalcamp.es/sessions/abstraer-requisitos-de-cliente-en-modulos-para-contribuir" target="_blank">Abstraer requisitos de cliente en módulos para contribuir by Cristian Aliaga</a></td>
    </tr>
    <tr>
        <th scope="row">&nbsp;</th>
        <td class="eng"><a href="https://2017.drupalcamp.es/sessions/using-traefikio-your-local-docker-environments-jsbalsera">Using Traefik.io with your local Docker environments by Jesús Sánchez Balsera</a></td>
        <td><a href="https://2017.drupalcamp.es/sessions/css-grid-layout-aless86" target="_blank">CSS Grid Layout by Alejandro Soto</a></td>
        <td><a href="https://2017.drupalcamp.es/sessions/google-amp-y-drupal-8-antoniogarrod" target="_blank">Google AMP y Drupal 8 by Antonio García Rodríguez</a></td>
    </tr>
    <tr>
        <th scope="row">&nbsp;</th>
        <td class="eng"><a href="https://2017.drupalcamp.es/sessions/synchronize-your-drupal-data-carto-plopesc" target="_blank">Synchronize your Drupal data with Carto by Pablo López Escobés</a></td>
        <td><a href="https://2017.drupalcamp.es/sessions/lets-encrypt-o-como-tener-tu-pagina-https-tras-5-instrucciones-en-la-linea-de-comandos" target="_blank">Let’s Encrypt o como tener tu página HTTPS tras 5 instrucciones en la línea de comandos by Luis Ortiz Ramos</a></td>
        <td><a href="https://2017.drupalcamp.es/sessions/why-drupal-davidbaltha" target="_blank">Why Drupal by David Hernández Ruiz</a></td>
    </tr>
    <tr>
        <th scope="row">16:00</th>
        <td class="featured"><a href="https://2017.drupalcamp.es/sessions/seleccionando-un-cms-para-la-transformacion-por-que-drupal-javierespadas" target="_blank">Seleccionando un CMS para la transformación: ¿Por qué Drupal? by Javier Espadas Bardón</a></td>
        <td class="eng"><a href="https://2017.drupalcamp.es/sessions/test-driven-development-drupal-8-nuezweb" target="_blank">Test Driven Development in Drupal 8 by Teun Van Veggel</a></td>
        <td><a href="https://2017.drupalcamp.es/sessions/tu-drupal-esta-listo-lo-sabe-google-beagonpoz" target="_blank">Tu Drupal está listo… ¿Lo sabe Google? by Beatriz González Pozo</a></td>
    </tr>
    <tr>
        <th scope="row">17:00</th>
        <td class="eng"><a href="https://2017.drupalcamp.es/sessions/drupal-8-cache-developers-jjcarrion" target="_blank">Drupal 8 cache for developers by Jose Jiménez Carrión</a></td>
        <td><a href="https://2017.drupalcamp.es/sessions/casos-de-exito-de-drupal-en-espana-davidgilbiko2" target="_blank">Casos de éxito de Drupal en España by David Gil, Ramon Vilar Gavaldà, Siddharta Navarro, Isaura Galafate y Beatriz González</a></td>
        <td><a href="https://2017.drupalcamp.es/sessions/todo-lo-que-hay-que-saber-para-enfrentarte-al-marketing-automation-cocinaitaliana" target="_blank">Todo lo que hay que saber para enfrentarte al Marketing Automation by Claudia Giommarini</a></td>
    </tr>
    <tr>
        <th scope="row">18:00</th>
        <td colspan="3">Asamblea AED</td>
    </tr>
    </tbody>
</table>