@mixin schedule-characteristic {

  background-repeat:no-repeat;
  &.lightning{
    background-image:url(../images/schedule/charla-corta.svg);
  }
  &.english{

    background-image:url(../images/schedule/english.svg);
  }
  &.basic{
    background-image:url(../images/schedule/nivel-basic.svg);
  }
  &.intermediate{

    background-image:url(../images/schedule/nivel-intermedio.svg);
  }
  &.advanced{

    background-image:url(../images/schedule/nivel-avanzado.svg);
  }
  &.na{

    background-image:url(../images/schedule/nivel-na.svg);
  }
  &.featured{

    background-image:url(../images/schedule/ponente-destacado.svg);
  }
  &.sponsored{

    background-image:url(../images/schedule/charla-patrocinada.svg);
  }
}

.schedule-wrapper {
  max-width: $max-width;
  padding: $gutter-width;
  margin: 2rem auto 4rem;

  @include clearfix;
  .inner{
    @include clearfix;
    @include breakpoint(big) {
      float: right;
      width: 65%;
    }

  }
  .node__header {
    width: 100%;

    @include breakpoint(big) {
      float: left;
      width: 35%;
    }

    h1 {
      position: relative;
      margin-bottom: 30px;
      line-height: 1em;
      font-size: 2.5rem;

      @include breakpoint(big) {
        font-size: 3rem;
      }

      &:after {
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 40px;
        height: 4px;
        background-color: $secondary-color;
        content: ' ';
      }
    }
  }

  h2{
    color:$main-color;
    margin-bottom:30px;
    font-size:2rem;
  }
  .legend {


    > div{

      @include schedule-characteristic;
      display:inline-block;
      padding-top:2px;
      padding-bottom:2px;
      padding-left:30px;
      margin-bottom:15px;
      vertical-align: middle;
      width:calc(100%/4 - 3px);
      box-sizing: border-box;
      background-size: contain;
      @include breakpoint(mobile){
        width:calc(100%/2 - 2px);
      }
    }
  }

  table {
    width: 100%;
    margin-top: 3rem;
    font-size: 16px;
    margin-bottom: 40px;

    caption {
      color: $main-color;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    thead {
      th {
        padding: 10px;
        @include breakpoint(mobile){
          padding:5px;
          font-size:12px;
        }
        background: #EEE;
        border-bottom: 3px solid $main-color;
        text-transform: uppercase;
        border-right: 1px solid white;
        &:last-child {
          border-right: none;
        }
      }
    }
    tbody {

      th {
        font-weight: bold;
        padding: 10px;

        border: 1px solid #ccc;
        @include breakpoint(mobile) {
          font-size: 10px;
        }
      }
      tr.break {
        th,
        td {
          border-left: none;
          border-right: none;
          padding-top: 20px;
          padding-bottom: 20px;
          border-top: none;
        }
      }

      td {
        padding: 10px;
        @include breakpoint(mobile){
          padding:5px;
        }
        border: 1px solid #ccc;
        > span {
          margin-top: 10px;
          @include schedule-characteristic;
          width: 25px;
          height: 25px;
          display: inline-block;
          margin-right:5px;
          background-size:cover;
        }
      }

      a {
        color: #222;
        text-decoration: none;
        font-weight: bold;

        display: block;
        span {
          font-weight: normal;
        }
        &:hover {
          cursor: pointer;
          color: $secondary-color;
        }
      }
    }

  }
}
