@media only screen and (max-width: $wide) {

  h1 {
    width: 645px;
    height: 90px;
  }

  h2 {
    font-size: 400%;
  }

  .description {
    font-size: 130%;
  }

  .ico {
    opacity: 0.5;
  }

  #intro .letter.p {
    display: none;
  }

}

@media only screen and (max-width: $desktop) {

  h2 {
    font-size: 300%;
  }

  .description {
    font-size: 120%;
  }

  #newsletter .ico {
    opacity: 0.1;
  }

  #slogan .ico {
    opacity: 0.2;
  }

  #intro .letter.r,
  #intro .letter.al {
    display: none;
  }

}

@media only screen and (max-width: $tablet) {

  #intro .letter.u {
    display: none;
  }

  h2 {
    font-size: 200%;
    margin-bottom: 24px;
  }

  .zig-zag {
    height: 15px;
  }

  #footer .rrss {
    margin: 0 auto;
    max-width: 150px;
    text-align: left;
  }

  #footer .rrss a {
    margin: 0 0 8%;

  }

  #footer a.aed {
    width: 109px;
    height: 50px;
    margin-bottom: 50px;
    background-size: cover;
  }

  #footer span {
    margin-bottom: 26px;
  }
  .fp-section {
    padding: 20px 0;
    box-sizing: unset;
  }

  #intro.fp-section {
    padding: 0;
    box-sizing: border-box;
  }

  .button {
    padding: 15px 15px 15px 45px;
    background-position: 15px center;
  }

  .countdown div {
    margin-right: 10px;
  }

  .countdown div span {
    font-size: 100%;
  }

  #newsletter .ico {
    opacity: 0.1;
    width: 27px;
  }

  #slogan .ico {
    opacity: 0.2;
    width: 27px;
  }
}


