
#fullpage {

  .section {

  	&#intro {
      background: white url('../images/alicante.jpg') no-repeat center center;
      background-size:cover;
    }

    &#location {
      background: white url('../images/location.jpg') no-repeat center center;
      background-size:cover;
    }
  }
}