<header class="header">
  <div class="container">
    <div class="logo">
      <a href="#">
        <img src="https://via.placeholder.com/50x50" alt="[ Logo ]">
        <h2>DRUPAL CAMP <br />SPAIN 2020</h2>
      </a>
    </div>

{#    <nav class="navigation">#}
{#      <div class="burger"></div>#}
{#      <ul>#}
{#        <li>#}
{#          <a href="#">Item</a>#}
{#        </li>#}
{#        <li>#}
{#          <a href="#">Item</a>#}
{#        </li>#}
{#        <li>#}
{#          <a href="#">Item</a>#}
{#        </li>#}
{#        <li>#}
{#          <a href="#">Item</a>#}
{#        </li>#}
{#      </ul>#}
{#    </nav>#}
  </div>
</header>

<div class="hero">
  <h1>Join us for two days of Drupal, digital contents, <br>workshops, networking and fun!</h1>
  <h2>JUNE 11th, 12th and 13tn</h2>
  <h3>- MÁLAGA -</h3>

  <div class="overflow-footer container">
    <p>The Drupalcamp Spain 🎂turns 10🎂 and we're going to celebrate it in Málaga.</p>
    <p>More information coming soon, stay tuned!</p>
  </div>
</div>

{#<div class="confirmed-speakers container">#}
{#  <h2>CONFIRMED SPEAKERS</h2>#}

{#  <div class="list">#}
{#    <div>#}
{#      <img src="https://via.placeholder.com/261x194" alt="[ Speaker name ]">#}
{#    </div>#}
{#    <div>#}
{#      <img src="https://via.placeholder.com/261x194" alt="[ Speaker name ]">#}
{#    </div>#}
{#    <div>#}
{#      <img src="https://via.placeholder.com/261x194" alt="[ Speaker name ]">#}
{#    </div>#}
{#    <div>#}
{#      <img src="https://via.placeholder.com/261x194" alt="[ Speaker name ]">#}
{#    </div>#}
{#  </div>#}
{#</div>#}

<div class="about-drupalcamp container clearfix">
  <div class="content">
    <h2>THE EVENT: DRUPALCAMP SPAIN</h2>
    <p>A Drupal Camp is an event focused on many aspects of Drupal in one location. The main purpose is to share knowledge amongst the community by getting as many local people as possible in the same location for several days. Some of the activities include sessions and talks, networking, a business day, training and get-togethers.</p>
    <p>This year's Drupal Camp in Spain marks the 10th year anniversary and we're preparing a lot of good content and activities to get all the Spanish community to Málaga in June.</p>
  </div>
  <img src="https://via.placeholder.com/870x590" alt="DrupalCamp Spain 2020">
</div>

<div class="about-venue container clearfix">
  <div class="content">
    <h2>THE VENUE: POLO DIGITAL</h2>
    <p>Innovate, believe and surprise – these are the principles of the team of individuals that empowers the <a href="https://www.polodigital.eu/">Polo Nacional de Contenidos Digitales of Malaga</a>, supported by the municipal company <a href="http://www.promalaga.es/">Promálaga</a>. We believe in people, creativity and innovation, and we’re involved in every project that comes to Polo Digital, providing support, listening to proposals and helping you with whatever you need. All without losing sight of the spirit in which Polo Digital was conceived, a disruptive multidisciplinary space where you can create, work on and for projects based on digital content that we welcome.</p>
    <a href="https://www.google.com/maps/dir/36.6900658,-4.4529878/polo+digital+ubicacion/@36.6940474,-4.4559655,15z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0xd72f77fe30405e5:0xb44f7091e40acc9e!2m2!1d-4.4391211!2d36.6989071">DIRECTIONS</a>
  </div>
  <img src="https://via.placeholder.com/870x590" alt="Venue of DrupalCamp Spain: Polo Digital">
</div>

<div class="about-business-day container">
  <div class="content">
    <h2>BUSINESS DAY</h2>
    <p>On Thursday, in parallel with DrupalCamp, we will host a Business Day for the Spanish Drupal market leaders.</p>
    <p>This is a perfect opportunity to meet other companies, take the pulse of the market establish synergies.</p>
    <p>If you are interested, get in touch with us.</p>
  </div>
  <img src="https://via.placeholder.com/624x450" alt="Business Day">
</div>


<div class="sponsors">
  <div class="container">
{#    <h2>SPONSORS</h2>#}
{#    <div class="content">#}
{#      <a href="#">#}
{#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
{#      </a>#}
{#      <a href="#">#}
{#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
{#      </a>#}
{#      <a href="#">#}
{#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
{#      </a>#}
{#      <a href="#">#}
{#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
{#      </a>#}
{#      <a href="#">#}
{#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
{#      </a>#}
{#      <a href="#">#}
{#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
{#      </a>#}
{#      <a href="#">#}
{#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
{#      </a>#}
{#      <a href="#">#}
{#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
{#      </a>#}
{#      <a href="#">#}
{#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
{#      </a>#}
{#      <a href="#">#}
{#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
{#      </a>#}
{#      <a href="#">#}
{#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
{#      </a>#}
{#      <a href="#">#}
{#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
{#      </a>#}
{#      <a href="#">#}
{#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
{#      </a>#}
{#      <a href="#">#}
{#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
{#      </a>#}
{#      <a href="#">#}
{#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
{#      </a>#}
{#      <a href="#">#}
{#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
{#      </a>#}
{#      <a href="#">#}
{#        <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">#}
{#      </a>#}
{#    </div>#}
    <h2>COLLABORATORS & SPECIAL THANKS</h2>
    <div class="content">
      <a href="https://www.polodigital.eu/">
        <img src="/{{ directory }}/images/logos/polo-digital.png" alt="Polo Digital">
      </a>
      <a href="https://www.polodigital.eu/">
        <img src="/{{ directory }}/images/logos/ayuntamiento-malaga.png" alt="Ayuntamiento de Málaga">
      </a>
    </div>
  </div>
</div>

<div class="aed-cta">
  <div class="content">
    <img src="https://via.placeholder.com/300x150" alt="Asociación Española de drupal">
    <h2>JOIN THE COMMUNITY</h2>
    <p>The Spanish Drupal community grows every year. Companies, freelancers, and students are part of one of the most influential families in the web industry.</p>
    <a href="https://asociaciondrupal.es">Join the Spanish Drupal Association</a>
  </div>
</div>

{#<div class="footer-first">#}
{#  <ul>#}
{#    <li>#}
{#      <a href="#">VENUE</a>#}
{#    </li>#}
{#    <li>#}
{#      <a href="#">SURVIVAL GUIDE</a>#}
{#    </li>#}
{#    <li>#}
{#      <a href="#">BUSINESS DAY</a>#}
{#    </li>#}
{#  </ul>#}
{#</div>#}

{#<div class="footer-second">#}
{#  <ul>#}
{#    <li>#}
{#      <a href="#">Badges</a>#}
{#    </li>#}
{#    <li>#}
{#      <a href="#">Selection Criteria</a>#}
{#    </li>#}
{#    <li>#}
{#      <a href="#">Speaker guidelines</a>#}
{#    </li>#}
{#    <li>#}
{#      <a href="#">Code of conduct Contact</a>#}
{#    </li>#}
{#  </ul>#}
{#</div>#}

<div class="post-footer">
  <p>© 2020 <a href="https://asociaciondrupal.es">Asociación Española de Drupal</a></p>
</div>
