<nav>
  <div class="logo">
    <a href="#">
      <img src="" alt="">
    </a>
  </div>
</nav>

<div class="hero">
  <h1>Two days of Drupal presentations, workshops and networking</h1>
  <h2>7, 8 y 9 MAYO</h2>
  <h3>- MÀLAGA -</h3>

  <div class="overflow-footer">
    Maecenas sed diam eget risus varius blandit sit amet non magna.
  </div>
</div>

<div class="confirmed-speakers">
  <h2>CONFIRMED SPEAKERS</h2>

  <div class="list">
    <div>
      <img src="https://via.placeholder.com/261x194" alt="[ Speaker name ]">
      <div class="name">[ Speaker name ]</div>
    </div>
    <div>
      <img src="https://via.placeholder.com/261x194" alt="[ Speaker name ]">
      <div class="name">[ Speaker name ]</div>
    </div>
    <div>
      <img src="https://via.placeholder.com/261x194" alt="[ Speaker name ]">
      <div class="name">[ Speaker name ]</div>
    </div>
    <div>
      <img src="https://via.placeholder.com/261x194" alt="[ Speaker name ]">
      <div class="name">[ Speaker name ]</div>
    </div>
  </div>
</div>

<div class="about-venue">
  <div class="content">
    <h2>POLO DIGITAL</h2>
    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
    <a href="#">THIS IS A CTA</a>
  </div>
  <img src="https://via.placeholder.com/870x590" alt="Polo Digital">
</div>

<div class="about-business-day">
  <div class="content">
    <h2>BUSINESS DAY</h2>
    <p>On Friday, in parallel with DrupalCamp, we will host a Business Day for the Spanish Drupal market leaders.</p>
    <p>This is a perfect opportunity to meet other companies, take the pulse of the market establish synergies.</p>
    <p>If you are interested, get in touch with us.</p>
  </div>
  <img src="https://via.placeholder.com/624x450" alt="Business Day">
</div>


<div class="sponsors">
  <h2>SPONSORS</h2>
  <div class="content">
    <a href="#">
      <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">
    </a>
    <a href="#">
      <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">
    </a>
    <a href="#">
      <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">
    </a>
    <a href="#">
      <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">
    </a>
    <a href="#">
      <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">
    </a>
    <a href="#">
      <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">
    </a>
    <a href="#">
      <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">
    </a>
    <a href="#">
      <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">
    </a>
    <a href="#">
      <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">
    </a>
    <a href="#">
      <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">
    </a>
    <a href="#">
      <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">
    </a>
    <a href="#">
      <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">
    </a>
    <a href="#">
      <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">
    </a>
    <a href="#">
      <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">
    </a>
    <a href="#">
      <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">
    </a>
    <a href="#">
      <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">
    </a>
    <a href="#">
      <img src="https://via.placeholder.com/200x100" alt="[Sponsor name]">
    </a>
  </div>
</div>

<div class="aed-cta">
  <img src="https://via.placeholder.com/300x150" alt="Asociación Española de drupal">
  <h2>JOIN THE COMMUNITY</h2>
  <p>The Spanish Drupal community grows every year. Companies, freelancers, and students are part of one of the most influential families in the web industry.</p>
  <a href="https://asociaciondrupal.es">Join the Spanish Drupal Association</a>
</div>

<div class="footer-first">
  <ul>
    <li>
      <a href="#">VENUE</a>
    </li>
    <li>
      <a href="#">SURVIVAL GUIDE</a>
    </li>
    <li>
      <a href="#">BUSINESS DAY</a>
    </li>
  </ul>
</div>

<div class="footer-second">
  <ul>
    <li>
      <a href="#">Badges</a>
    </li>
    <li>
      <a href="#">Selection Criteria</a>
    </li>
    <li>
      <a href="#">Speaker guidelines</a>
    </li>
    <li>
      <a href="#">Code of conduct Contact</a>
    </li>
  </ul>
</div>

<div class="post-footer">
  <p>© 2020 <span>Asociación Española de Drupal</span></p>
</div>
